<div id="GDMessageContainer" class="GoDText">

<div>
  <h1>Click two parts of the page to see who will win!</h1>
  <p><a href="">about &lt;div&gt;&amp;conquer | leaderboard</a></p>
</div>

<div>
  <h1 id='fight'>Which dom object on screen will reign supreme?</h1>
  <table>
    <tr><td><h1 id='nameOne'></h1></td><td><h4>vs</h4></td><td><h1 id='nameTwo'></h1></td></tr>
    <tr><td><h1 id='scoreOne'>0</h1></td><td><h6>score</h6></td><td><h1 id='scoreTwo'>0</h1></td></tr>
    <tr><td><h3 id='healthOne'></h3></td><td><h6>current health</h6></td><td><h3 id='healthTwo'></h3></td></tr>
    <tr><td><h4 id='powerOne'></h4></td><td><h6>current power</h6></td><td><h4 id='powerTwo'></h4></td></tr>
    <tr><td><h4 id='hitOne'></h4></td><td><h6>this hit</h6></td><td><h4 id='hitTwo'></h4></td></tr>
  </table>
</div>

<div>
  <h1>PLAY AGAIN</h1>
  <p><a href="">about &lt;div&gt;&amp;conquer | leaderboard</a></p>
</div>

</div>


<p>Drag this to your bookmarks bar. Click it on ANY site when you think things are looking angry!</p>
<p><a href="javascript:var%20i,s,ss=['//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js','http://divandconquer.herokuapp.com/assets/game-dom.js'];for(i=0;i!=ss.length;i++){s=document.createElement('script');s.src=ss[i];document.body.appendChild(s);}void(0);">&lt;div&gt;&amp;conquer</a></p>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Winning Element</th>
      <th>Losing Element</th>
      <th>Content</th>
      <th>favicon</th>
      <th>URL</th>
      <th>Page</th>
    </tr>

  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
        <th><%= battle.score %></th>
        <th><%= battle.winner.element %></th>
        <th>
          <% battle.winner.conquests.each do |conquest| %>
            <%= conquest.element %>
          <% end %>
        </th>
        <th><%= battle.winner.content %></th>
        <th><%= battle.winner.page.favicon %></th>
        <th><%= battle.winner.page.url %></th>
        <th><%= battle.winner.page.title %></th>
      </tr>

    <% end %>
  </tbody>

</table>