<img src="http://divandconquer.herokuapp.com/assets/div-logo-02.png" alt="<DIV>&CONQUER">
<h1>The Web is a Tough Place - Select the Right &lt;div&gt; and Conquer?</p>
<p>The game is simple, start the game pick any two elements on any page and watch them fight to the death. Make any webpage your plaything! </p>

<h1>Why &lt;div&gt;&amp;conquer?</h1>
<p>Div and conquer is a silly game made by a student trying to push what he could do with JQuery. The original idea was to make a webpage into a gameboard, inspired by the game of thrones opening animations, where flat landscapes build into 3D fortresses. I wanted to do the same thing with any webpage you might decide needs some life, and then be able tto battle between these elements. A week is not a long time to do this, but that was all we had, so somewhere along the way game-of-doms changed course and became more of a cage match for page elements. Oh well.</p>
<h1>Gosh That Sounds Fun - How Can I Play</h1>
<h3>Drag this link to your bookmarks bar --&gt; <a href="javascript:var%20i,s,ss=['//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js','http://divandconquer.herokuapp.com/assets/game-dom.js'];for(i=0;i!=ss.length;i++){s=document.createElement('script');s.src=ss[i];document.body.appendChild(s);}void(0);">&lt;div&gt;&amp;CONQUER</a> &lt;<-- Click it on ANY site that you think needs some life!</h3>
<h1>But This Breaks Websites - Won't I Get in Trouble?</h1>
<p>Fear not, this doesn't have any permanent effect on the website on which you play it, all the effects are just temporarily created by (huge and confusing strings) of JavaScript code that goes away as soon as you leave the page. So go nuts. If anything you're helping the other websites, as a link to all the sites that get played will appear on this site, and that's called SEO or SEF or SEM or link-farming or social-netowrking or something, and everybody loves that shit.</p>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Winning Element</th>
      <th>Losing Element</th>
      <th>Content</th>
      <th>URL</th>
      <th>Page</th>
    </tr>

  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= battle.score %></td>
        <td><%= battle.winner.element %></td>
        <td>
          <% battle.winner.conquests.each do |conquest| %>
            <%= conquest.element %>
          <% end %>
        </td>
        <td><%= battle.winner.content %></td>
        <td><a href="<%= battle.winner.page.url %>" target="_blank"><%= battle.winner.page.url %></a></td>
        <td><%= battle.winner.page.title %></td>
      </tr>

    <% end %>
  </tbody>

</table>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4eb87d6f714bfbe9"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'light',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': 'modeltwitizen'}
      ]
    },  
    'whatsnext' : {}  
  });
</script>
<!-- AddThis Smart Layers END -->