<h1>Dom Cage Fight</h1>

<p>Drag this to your bookmarks bar. Click it on ANY site when you think things are looking angry!</p>
<p><a href="javascript:var%20i,s,ss=['//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js','http://divandconquer.herokuapp.com/assets/game-dom.js'];for(i=0;i!=ss.length;i++){s=document.createElement('script');s.src=ss[i];document.body.appendChild(s);}void(0);">&lt;div&gt;&amp;conquer</a></p>

<h2>Who will you battle?</h2>

<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQcBwrXyPgzoTdR9mKj-pLJvOZevmFai31JElWa78JeRINu_jbCBSvLTZCT" alt=""> vs <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSu2YJ9IkdOKYlyFRSB4PXf6JP2o7U_V9dAUwDguxabcVwvPFolJxYRbGxb" alt=""> vs <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSq2K35JBISw8vZAqSbF8jX84U6Fpg4U1f5rZ4P8QLfmhG68MYYC9xnQA9e" alt=""> vs <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQnNeU3IbYaqOktZT2JN9iBqCURdHSepjQSDPWLrV37tLDjWkoci484nfRo" alt="">

http://images6.alphacoders.com/316/316963.jpg

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Winning Element</th>
      <th>Losing Element</th>
      <th>Content</th>
      <th>favicon</th>
      <th>URL</th>
      <th>Page</th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
        <th><%= battle.score %></th>
        <th><%= battle.winner.element %></th>
        <th>
          <% battle.winner.conquests.each do |conquest| %>
            <%= conquest.element %>
          <% end %>
        </th>
        <th><%= battle.winner.content %></th>
        <th><%= battle.winner.page.favicon %></th>
        <th><%= battle.winner.page.url %></th>
        <th><%= battle.winner.page.title %></th>
      </tr>
    <% end %>
  </tbody>

</table>